:root {
    --lapis-lazuli: rgba(13, 95, 150, 1);
    --coyote: rgba(111, 98, 73, 1);
    --jade: rgba(33, 171, 114, 1);
    --alabaster: rgba(239, 231, 218, 1);
    --dark-green: rgba(0, 38, 38, 1);
}

p, button, h1, h2, h3, h4, h5, h6, div {
    color: var(--alabaster);
    font-family: "Space Mono", serif;
    font-weight: 700;
}

button {
    background-color: var(--lapis-lazuli);
    border: 1px solid var(--lapis-lazuli);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.1em;
    text-decoration: none;
    font-size: 2em;
}

button:hover {
    border: 1px solid var(--alabaster)
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    background-color: var(--dark-green);
}

#counter {
    font-size: 2em;
    margin: 20px 0;
}

#myChart {
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    background-color: var(--alabaster);
}


#stats-container {
    border: 1px solid var(--coyote);
}

#stats-container > p {
    font-size: 1.2em;
}

span > h1 {
    display: inline-block;
}

#gpt-text {
    color: var(--jade);
}

.energy-measurement {
    color: var(--jade);
}

.water-measurement {
    color: var(--lapis-lazuli);
}